{% extends 'research/base.html' %}

{% block title %}Nursing Research{% endblock %}

{% block header %}Nursing Research{% endblock %}

{% block content %}
    <section id="welcome-message">
        <h2>Discover a World of Nursing Excellence</h2>
        <p>
            Welcome to the Nursing Research Portal, where curiosity meets innovation, and evidence shapes care. We are thrilled to have you join our community of passionate nurses, researchers, educators, and healthcare professionals dedicated to advancing the forefront of nursing science.
        </p>
    
        <p>
            In this digital space, you'll find a rich tapestry of resources, collaborative opportunities, and educational materials crafted to inspire and empower. Whether you're embarking on a new research journey, seeking evidence-based practices, or connecting with fellow professionals, the Nursing Research Portal is your gateway to a world of knowledge and collaboration.
        </p>
    
        <h3>What Awaits You:</h3>
        <p>
            <strong>Engaging Content:</strong> Dive into a vast collection of research articles, publications, and educational content curated to elevate your understanding of nursing science and evidence-based practices.
            <br>
            <strong>Community Connection:</strong> Join a vibrant community where ideas flourish, and collaborations spark. Connect with like-minded individuals who share your passion for advancing healthcare through research and innovation.
            <br>
            <strong>Professional Development:</strong> Explore workshops, webinars, and resources designed to enhance your skills and contribute to your professional growth. Whether you're a seasoned researcher or just starting, there's something for everyone.
            <br>
            <strong>Funding Opportunities:</strong> Stay informed about funding opportunities that can turn your research ideas into reality. We're here to support you in securing the resources needed to make a lasting impact.
        </p>
    
        <p>
            As you navigate through the portal, remember that you're part of a dynamic and influential community shaping the future of nursing. Your curiosity, dedication, and collaboration have the power to transform healthcare landscapes and improve the lives of countless individuals.
        </p>
    
        <h3>Start Exploring Today!</h3>
        <p>
            The journey begins now. Explore, connect, and contribute to the collective pursuit of excellence in nursing research. Together, let's chart new frontiers and redefine what's possible in the world of healthcare.
        </p>
    </section>
{% endblock %}
